services:

  # --- SERVICE AUTH ---
#  auth:
#    build:
#      context: ./services/auth
#      dockerfile: Dockerfile
#    container_name: service-auth
#    volumes:
#      - ./services/auth:/app
#    environment:
#      - DATABASE_URL=postgres://postgres:auth_pass@db-auth:5432/auth_db?sslmode=disable
#      - SECRET_KEY=auth_secret
#      - PORT=50051
#    depends_on:
#      db-auth:
#        condition: service_healthy
#    ports:
#      - "50051:50051" # gRPC
#
#  db-auth:
#    image: postgres:18-alpine
#    container_name: db-auth
#    environment:
#      POSTGRES_DB: user
#      POSTGRES_USER: user
#      POSTGRES_PASSWORD: auth_pass
#    ports:
#      - "5431:5432"
#    volumes:
#      - auth_data:/var/lib/postgresql/data
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U postgres -d auth_db"]
#      interval: 5s
#      timeout: 5s
#      retries: 5

  # --- SERVICE PLATFORM ---
   platform:
     build:
       context: ./services/platform
       dockerfile: Dockerfile
       target: dev
     container_name: lnm3_platform
     restart: unless-stopped
     environment:
       DATABASE_URL: postgresql://user:pass@db-platform:5432/lnm3_platform?serverVersion=16&charset=utf8
#       AUTH_SERVICE_ADDR: auth:50051 # gRPC
       APP_SECRET: ${APP_SECRET:-e9d7855c4fd2ff4d9cdc0b17b2602bce}
       CADDY_GLOBAL_OPTIONS: debug
     volumes:
       - ./services/platform:/app:rw
#       - ./services/platform/docker/caddy/Caddyfile:/etc/caddy/Caddyfile
       - platform_data:/app/var
     ports:
       - "8080:80" # HTTP
       - "8443:443" # HTTPS
       - "443:443/udp" # HTTP/3
     depends_on:
       db-platform:
         condition: service_healthy
     links:
       - db-platform

   db-platform:
     image: postgres:18-alpine
     container_name: lnm3_platform_db
     environment:
       POSTGRES_USER: user
       POSTGRES_PASSWORD: pass
       POSTGRES_DB: lnm3_platform
     volumes:
       - db_data:/var/lib/postgresql/data
     healthcheck:
       test: [ "CMD-SHELL", "pg_isready -U user -d lnm3_platform" ]
       interval: 5s
       timeout: 5s
       retries: 5

   adminer:
     image: adminer
     container_name: lnm3_platform_adminer
     restart: always
     ports:
       - "8081:8080"
     environment:
       ADMINER_DEFAULT_SERVER: db-platform
     depends_on:
       - db-platform

  # --- FRONTEND ---
  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   container_name: svelte-frontend
  #   environment:
  #     - PUBLIC_API_URL=http://localhost:4000
  #   ports:
  #     - "5173:5173"
  #   depends_on:
  #     - platform

volumes:
#  auth_data:
   platform_data:
   db_data:
